
  /* HERO */
  .hero {
    text-align: center;
    padding: 24px 16px;
  }
  
  .hero h1 {
    margin-bottom: 8px;
    color: var(--yellow-main);
  }
  
  .hero p {
    margin-bottom: 16px;
    color: white;
  }
  
  .hero-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
  }
  
  /* BUTTONS */
  .btn {
    display: inline-block;
    background: var(--yellow-main);
    color: #000;
    padding: 10px 24px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
  }
  
  .btn.small {
    padding: 8px 16px;
    font-size: 14px;
  }

  
  /* CONTACT OPTIONS */
  .contact-options {
    background: var(--yellow-main);
    color: #000;
    padding: 32px 32px;
    text-align: center;
    margin-top: -70px;
    padding-bottom: 50px;
  }
  
  .contact-options h2 {
    margin-bottom: 24px;
    
  }
  .card h3{
    color: var(--yellow-main);
  }
  .card {
    background: var(--green-mid);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 16px;
  }
  .card p{
    color: white;
  }

  .icon-circle {
    width: 80px;
    height: 80px;
    background-color: var(--yellow-main); /* yellow */
    border-radius: 50%;
    margin: 0 auto 16px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-circle img {
    width: 28px;
    height: 28px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%); /* Adjust color to match design */
  }
  
  /* FORM */
  .form-section {
    padding: 32px 16px;
  }
  
  .form-section h2 {
    text-align: center;
    margin-bottom: 16px;
    color: var(--yellow-main);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 12px;
    border-radius: 12px;
    border: none;
  }
  
  .contact-form textarea {
    min-height: 100px;
  }

  .wave5{
    margin-top: -70px;
  }